@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.fpbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin:15px;
}

.HomePage, .RoomPage {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.moneySlider {
    margin: 15px;
}

.checkboxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
