body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFB7C3;
  color: white;
  font-family: monospace;
  font-size: 28px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #9EC072;
  width: 291px;
  height: 62px;
  left: 40px;
  top: 233px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  border-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#searchbutton {
  border-radius: 0px;
  width: 108px;
  height: 57px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nameFrame {
  width: 291px;
  height: 62px;
  left: 40px;
  top: 233px;
  margin-bottom: 1vw;

  background-color: #9EC072;
  border-radius: 25px;
}

#range {
 color: grey;
}

#client1, #client2 {
  padding-top: 1vw;
  text-align: center;
  word-wrap: break-word;
  font-size: 25px;
}

#title {
  margin-top: 70px;
}

.enterName {
  
}